@font-face {
	font-family: 'monument_extendedregular';
	src: url('monumentextended-regular-webfont.woff2') format('woff2'),
		url('monumentextended-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'monument_extendedultrabold';
	src: url('monumentextended-ultrabold-webfont.woff2') format('woff2'),
		url('monumentextended-ultrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: url(https://media.giphy.com/media/3oEduJoSGzmA6bAnZe/giphy.gif) no-repeat 50% 50%;
	background-size: cover;
	font-family: 'monument_extendedregular';
	text-transform: uppercase;
}

.gif-overlay {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(14, 14, 14, 0.8);
	z-index: -1;
}

.nav {
	position: fixed;
	width: 100%;
	height: 80px;
}

.artist {
	position: fixed;
	z-index: 2;
	line-height: 80px;
	margin: 0 40px;
	color: #fff;
}

.menu {
	position: fixed;
	z-index: 2;
	line-height: 80px;
	right: 0;
	margin: 0 40px;
	font-size: 20px;
	color: #fff;
	padding-top: 4px;
}

.hero-gif {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.3) url(2019year.gif) no-repeat 50% 50%;
	background-size: cover;
	width: 48vw;
	height: 46vh;
	animation: animateGIF 4s cubic-bezier(0, 0.58, 1, 0.58);
	backdrop-filter: blur(3px);
}

.hero-title {
	position: absolute;
	top: 40%;
	left: 25%;
	transform: translate(-50%, -50%);
	mix-blend-mode: difference;
	z-index: 3;
}

.hero-title h1 {
	color: goldenrod;
	font-size: 80px;
	margin-bottom: 0%;
}

.glitch {
	position: relative;
}

.glitch::before,
.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.glitch::before {
	left: 4px;
	text-shadow: -30px 0 rgb(0, 174, 255);
	background: #000;
}

.glitch::after {
	left: -2px;
	text-shadow: -3px 0 blue;
	background: #000;
	animation: noise-anim 2s infinite alternate-reverse;
}

.glitch::before {
	clip: rect(54px, 250px, 56px, 40px);
	animation: noise-anim 2s infinite alternate-reverse;
}

.hero-title p {
	color: grey;
	font-family: Helvetica;
	font-size: 12px;
	letter-spacing: 14px;
}

#rotated {
	color: #fff;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: 100;
}

.rotatethis {
	position: absolute;
	top: 54%;
	left: 74%;
	transform: translate(-50%, -50%);
	animation: rotating 20s linear infinite;
}

@media (max-width: 900px) {
	.watch,
	.rotatethis {
		display: none;
	}

	.hero-gif {
		background: url(2019year.gif) no-repeat 50% 50%;
		background-size: 100%;
	}

	.hero-title p {
		letter-spacing: 3px;
		text-align: center;
	}
	.hero-title {
		top: 75%;
		left: 50%;
	}

	.hero-title h1 {
		text-align: center;
		font-size: 32px;
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes noise-anim {
	0% {
		clip-path: inset(40% 0 61% 0);
	}

	20% {
		clip-path: inset(92% 0 1% 0);
	}

	40% {
		clip-path: inset(43% 0 1% 0);
	}

	60% {
		clip-path: inset(25% 0 58% 0);
	}

	80% {
		clip-path: inset(54% 0 7% 0);
	}

	100% {
		clip-path: inset(58% 0 43% 0);
	}
}

@keyframes animateGIF {
	0% {
		width: 150%;
		height: 150%;
	}

	40% {
		width: 100%;
		height: 100vh;
	}

	100% {
		width: 48vw;
		height: 46vh;
	}
}
